{% extends 'base.html' %}

{% block title %}
Eliminar Equipo
{% endblock %}

{% block content %}

<div class="base-container flex-container center-content">
        <div class="form-container flex-container column-container center-content">
            <h1>Eliminar Team</h1>
                <form method="POST" class="form-group">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <label for="">Ingrese su contraseña</label>
                    <input type="password" name="password" id="" required>
                </form>
                <button class="btn-generic" id="delete-Team">Eliminar</button>
        </div>
    </div>
    <!-- MODAL CONTRASEÑA -->
    <div class="modal-background flex-container" id="modal-Team">
            <div class="modal-content flex-container">
                <div class="alert-title flex-container">
                    <div class="alert-icon flex-container m-bottom-1"><i class="fas fa-exclamation-triangle"></i></div>
                    <p class="m-bottom-1">Advertencia!</p>
                </div>
                <div class="alert-content flex-container m-top-1 form-group ">
                    <p class="m-bottom-1">El equipo representativo se eliminará permanentemente.</p>
                </div>
                <div class="alert-button flex-container m-top-1">
                    <button class="btn-option-cancel" id="cancel-delete-Team">Cancelar</button>
                    <button class="btn-option light-green greenHover" onclick="eliminarTeam()">Continuar</button>
                </div>
                <div>
        
                </div>
            </div>
        </div>
    
        <script>
                // MODAL ELIMINAR EQUIPO
                // ABRIR
                document.getElementById("delete-Team").addEventListener("click",()=>{
                let modal1 = document.getElementById("modal-Team").style.display="flex";
                });
                // CERRAR
                document.getElementById("cancel-delete-Team").addEventListener("click",()=>{
                let modal = document.getElementById("modal-Team").style.display="none";
                });
    
                function eliminarTeam(){
                    var xhttp;
                    var csrftoken = '{{ csrf_token }}';
                    var password = document.getElementById("password").value;
                    var expediente = document.getElementById("id_username").value;
                    console.log(password)
                    console.log(expediente)
                    xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function() {
                        if (this.readyState == 4 && this.status == 200) {
                            respuesta=JSON.parse(this.responseText);
                            console.log(this.responseText);
                            switch (respuesta.status) {
                                case 0:
                                    retroalimentacion.innerHTML = respuesta.msg;
                                    launch_toast(respuesta.msg, 2);
                                    break;
                                case 1:
                                    location.reload();
                                    break;
                                default:
                                    break;
                            }
                        }
                    };
                    xhttp.open("POST", "{% url 'eliminarEquipo' %}", true);
                    xhttp.setRequestHeader("X-CSRFToken", csrftoken);
                    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    xhttp.send('password='+password+'&expediente='+expediente);
                }
    
        </script>
{% endblock %}