{% extends 'base.html' %}

{% block title %}
Equipos representativos
{% endblock %}

{% block content %}
<div class="base-container flex-container workshop-space">
        {% for equipo in equipos %}
            <div class="workshop-container flex-container">
                <div class="workshop-icon flex-container center-content">
                    <i class="fas fa-bullseye"></i>
                </div>
                <div class="workshop-content flex-container">
                    <div class="workshop-title flex-container">
                        {{ equipo.sport }} {{ equipo.branch }}
                    </div>
                    
                    <div class="workshop-inscribed flex-container">
                        Inscritos: {{ equipo.get_members.all|length }}
                    </div>
                    <div class="workshop-teacher flex-container">
                        Docente: {{ equipo.responsible }}
                    </div>
                    <div class="workshop-options flex-container">
                        <div class="workshop-option flex-container" onclick="location.href='{% url 'verEquipo' equipo.id %}'">
                            Editar equipo
                        </div>
                        {% if request.user.userType == 'DC' %}
                        <div class="workshop-option flex-container" onclick="location.href='{% url 'estadisticosPartidos' equipo.id %}'">
                            Estadísticos
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
</div>
{% endblock %}