{% extends 'base.html' %}

{% block content %}
<div class="base-container flex-container center-content">
    <div class="form-right flex-container column-container center-content" style="margin-right: 10px;">
        <h1>Registrar partido</h1>
            <form method="POST" class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Registrar" style="width: 250px !important;">
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            </form>
        </div>
        <div class="table-left flex-container" style="margin-right: 0px; !important">
            <h2>¿Quién jugó?</h2>
            <table id="jugadores">

            </table>
        </div>
    </div>
    <script defer>
    document.getElementById("id_idTeam").addEventListener("change", getTeam);
    var response;
    function getTeam() {
        var token = "{{ csrf_token }}"
        var idTeam=document.getElementById("id_idTeam").value;
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                response=JSON.parse(this.responseText)
                var miembros = JSON.parse(response.miembros)
                console.log(miembros)
                
                // var jugadores = document.getElementById("jugadores");
                // miembros.forEach(element=>{
                //     console.log(element)
                //     var row = document.createElement("tr");
                //     var nombre = document.createElement("td");

                // })
            }
            };
            xmlhttp.open("POST", "{% url 'getMiembrosTeam' %}", true);
            xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlhttp.setRequestHeader("X-CSRFToken", token );
            xmlhttp.send("idTeam="+idTeam);
    }
    </script>

{% endblock %}