{% extends 'base.html' %}

{% block title %}Registro|becario{% endblock%}

{% block content %}
<style>
.font-medium{
    font-weight: 600 !important;
}
</style>
<div class="base-container flex-container center-content">
    <div class="table-left flex-container column-container tabla-docente">
        <h2 style="margin-bottom: 1rem;">Becarios</h2>
        <div style="overflow-y: scroll;">
        <table>
            <thead>
                <tr>
                    <th class="font-medium">Usuario</th>
                    <th class="font-medium">Nombre</th>
                    <th class="font-medium">Correo</th>
                </tr>
            </thead>
            <tbody>
                {% for becario in becarios %}
                <tr>
                    <td>{{ becario.username }}</td>
                    <td>{{ becario.last_name }} {{ becario.first_name }} </td>
                    <td>{{ becario.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    <div class="form-right flex-container column-container center-content form-responsive">
        <h1>Registrar becario</h1>
            <form method="POST" class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Registrar">
            </form>
        </div>
    </div>
    {% endblock %}