{% extends 'base.html' %}

{% block title %}Registro|Docente{% endblock%}

{% block content %}
<div class="base-container flex-container center-content">
    <div class="table-left flex-container column-container">
        <h2>Docentes</h2>
        <table>
            <tbody class="flex-container column-container">
                {% for docente in docentes %}
                <tr>
                    <td>
                        {{ docente.last_name }} {{ docente.first_name }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="form-right flex-container column-container center-content">
        <h1>Registrar docente</h1>
            <form method="POST" class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Registrar">
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                        <script defer>
                                lauch_toast();
                                </script>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
    {% endblock %}