{% extends 'base.html' %}

{% block title %}Registro|Admin{% endblock%}

{% block content %}
<div class="base-container flex-container center-content">
    <div class="form-container flex-container column-container center-content form-responsive">
        <h1>Registrar Administrador</h1>
            <form method="POST" class="form-group">
                {% csrf_token %}                
                    {% for field in form %}
                        {{ field.label_tag }}{{ field }}     
                    {% endfor %} 
                <input type="submit" value="Registrar">
                {% if messages %}
                    {% for message in messages %}
                    
                    {% if message.tags == "success" %}
                        {{message.tags}}
                        <script>
                                launch_toast("okkkkkk");
                            
                        </script>
                        {% endif %}
                        {% if message.tags == "error" %}
                        <script>
                            launch_toast("errooor");
                        </script>
                        {% endif %}

                    {% endfor %}
                {% endif %}
                {% if form.errors %}
                    {% for error in form.errors %}
                    {{ error }}
                    {% endfor %}
                {% endif %}
            </form>
    </div>
</div>
{% endblock %}