{% extends 'base.html' %}

{% block title %}
Eliminar Becario
{% endblock %}

{% block content %}
<div class="base-container flex-container center-content">
        <div class="form-container flex-container column-container center-content">
            <h1>Eliminar Becario</h1>
                <form method="POST" class="form-group">
                    {% csrf_token %}
                    {{ form.as_p }}
                </form>
                <button class="btn-generic" id="delete-becario">Eliminar</button>
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
        </div>
    </div>
    <!-- MODAL CONTRASEÑA -->
    <div class="modal-background flex-container" id="modal-becario">
            <div class="modal-content flex-container">
                <div class="alert-title flex-container">
                    <div class="alert-icon flex-container m-bottom-1"><i class="fas fa-exclamation-triangle"></i></div>
                    <p class="m-bottom-1">Advertencia!</p>
                </div>
                <div class="alert-content flex-container m-top-1 form-group ">
                    <p class="m-bottom-1">El usuario se eliminará permanentemente.</p>
                </div>
                <div class="alert-button flex-container m-top-1">
                    <button class="btn-option-cancel" id="cancel-delete-becario">Cancelar</button>
                    <button class="btn-option light-green greenHover" onclick="eliminarBecario()">Continuar</button>
                </div>
                <div>
        
                </div>
            </div>
        </div>

        <div class="modal-background flex-container" id="alert-delete" >
            <div class="modal-content flex-container">
                <div class="alert-title flex-container">
                    <div class="alert-icon flex-container m-bottom-1"><i class="fas fa-exclamation-triangle"></i></div>
                    <p class="m-bottom-1">Advertencia!</p>
                </div>
                <div class="alert-content flex-container m-top-1 form-group">
                    <p>El usuario se eliminará de forma permanente.</p>
                    {% csrf_token %}
                    <input type="number" name="expediente" id="expediente" hidden>
               
                    <label class="m-top-1" for="">Ingrese su contraseña para confirmar:</label>
                    <input type="password" class="m-bottom-1 white" name="password" id="password" required>
                </div>
                <div class="alert-button flex-container m-top-1">
                    <button class="btn-option-cancel" id="alert-cancel-delete" onclick="">Cancelar</button>
                    <button class="btn-option light-green greenHover" onclick="eliminarAlumno()">Continuar</button>
                    
                </div>
                <div>
        
                </div>
            </div>
        </div>
    
        <script>
                // MODAL ELIMINAR BECARIO
                // ABRIR
                document.getElementById("delete-becario").addEventListener("click",()=>{
                let modal1 = document.getElementById("modal-becario").style.display="flex";
                });
                // CERRAR
                document.getElementById("cancel-delete-becario").addEventListener("click",()=>{
                let modal = document.getElementById("modal-becario").style.display="none";
                });
    
                function eliminarBecario(){
                    var xhttp;
                    var csrftoken = '{{ csrf_token }}';
                    var password = document.getElementById("password").value;
                    var expediente = document.getElementById("id_username").value;
                    console.log(password)
                    console.log(expediente)
                    xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function() {
                        if (this.readyState == 4 && this.status == 200) {
                            respuesta=JSON.parse(this.responseText);
                            console.log(this.responseText);
                            switch (respuesta.status) {
                                case 0:
                                    retroalimentacion.innerHTML = respuesta.msg;
                                    break;
                                case 1:
                                    location.reload();
                                    break;
                                default:
                                    break;
                            }
                        }
                    };
                    xhttp.open("POST", "{% url 'eliminarBecario' %}", true);
                    xhttp.setRequestHeader("X-CSRFToken", csrftoken);
                    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    xhttp.send('password='+password+'&expediente='+expediente);
                }
    
        </script>
{% endblock %}