{% extends 'base.html' %}

{% block title %} Panel de control {% endblock %}

{% block content %}


<h1>este es el panel de control</h1>
<ul>
    <a href="{% url 'logout' %}">Cerrar sesión</a>
    <br>
    <a href="{% url 'changePassword' %}">Contraseña</a>
</ul>

<ul>
    {% if user.userType == 'AD' %}
      <a href="{% url 'resetPassword' %}">Restablecer una contraseña</a>
      <br>
      <a href="{% url 'registrarDocente' %}">Registrar Docente</a>
      <br>
      <a href="{% url 'registrarBecario' %}">Registrar Becario</a>
      <br>
      <a href="{% url 'registrarAdmin' %}"></a>
    {% endif %}
</ul>
{% endblock %}