{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deportiuaq - Facultad de informática</title>

    <!-- Foundation framework -->
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <link rel="stylesheet" href="{% static 'css/hamburgers.min.css' %}" />
    <script defer src="{% static 'js/vendor/jquery.js' %}"></script>
    <script defer src="{% static 'js/vendor/what-input.js' %}"></script>
    <script defer src="{% static 'js/vendor/foundation.js' %}"></script>
    <script defer src="{% static 'js/app.js' %}"></script>

    <!-- Fontawesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
        integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="sticky sticky-topbar is-stuck">
        <div class="top-bar bar sticky"
            style="box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.65) !important; background: #fff; height: 53px;">
            <div class="top-bar-left hide-for-small-only">
                <img src="{% static 'img/logo.png' %}" alt="" style="height: 2.5rem;">
            </div>
            <div class="top-bar-right text-right">
                <ul class="menu align-center hide-for-small-only" style="background: #fff;">
                    <li>
                        <a href="#homeSection">Inicio</a>
                    </li>
                    <li>
                        <a href="#talleres">Talleres</a>
                    </li>
                    <li>
                        <a href="#copa-autonomia">Copa Autonomía</a>
                    </li>
                    <li>
                        <a href="#copa-valores">Copa Valores</a>
                    </li>
                </ul>

                <div class="hamburger hamburger--spring show-for-small-only" id="hamburger-style">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="menu-resp text-center" id="menu-resp">
        <h3 class="margin-top-1"><a href="#homeSection">Inicio</a></h3>
        <h3 class="margin-top-1"><a href="#talleres">Talleres</a></h3>
        <h3 class="margin-top-1"><a href="#copa-autonomia">Copa Autonomía</a></h3>
        <h3 class="margin-top-1"><a href="#copa-valores">Copa Valores</a></h3>
    </div>
    <!-- PRINCIPAL -->
    <section id="homeSection" style="padding:2rem; ">
        <div class="row">
            <div class="column margin-vertical-3"></div>
        </div>

        <div class="row">
            <div class="column large-12 small-12" style="">
                <h1>Deportiuaq</h1>
            </div>
        </div>
        <div class="row">
            <div class="column large-12 small-12 sub-title">
                <p>Coordinación de deportes</p>
            </div>
        </div>
        <div class="row">
            <div class="column large-12 small-12" id="homeFacultad" style="margin-top: 23.5rem;">
                <p style="font-size: 1rem;">Facultad de Informática</p>
            </div>
        </div>
    </section>

    <section class="margin-vertical-3" style="padding:2rem;" id="talleres">
        <div class="row margin-top-3 align-center">
            <div class="column large-12 small-12 text-center margin-top-3">
                <h3>Talleres deportivos</h3>
            </div>
            <div class="column large-2 medium-4 small-6 margin-vertical-1 text-center">
                <img src="{% static 'img/archer.svg' %}" alt="" class="icon-workshop">
                <p class="margin-top-1 icon-title">Tiro con Arco</p>
            </div>
            <div class="column large-2 medium-4 small-6 margin-vertical-1 text-center">
                <img src="{% static 'img/futbol.svg' %}" alt="" class="icon-workshop">
                <p class="margin-top-1 icon-title">Fútbol</p>
            </div>
            <div class="column large-2 medium-4 small-6 margin-vertical-1 text-center">
                <img src="{% static 'img/basketball.svg' %}" alt="" class="icon-workshop">
                <p class="margin-top-1 icon-title">Basketball</p>
            </div>
            <div class="column large-2 medium-4 small-6 margin-vertical-1 text-center">
                <img src="{% static 'img/volley.svg' %}" alt="" class="icon-workshop">
                <p class="margin-top-1 icon-title">Volley</p>
            </div>
            <div class="column large-2 medium-4 small-6 margin-vertical-1 text-center">
                <img src="{% static 'img/ping.svg' %}" alt="" class="icon-workshop">
                <p class="margin-top-1 icon-title">Ping-Pong</p>
            </div>
            <div class="column large-2 medium-4 small-6 margin-vertical-1 text-center">
                <img src="{% static 'img/archer.svg' %}" alt="" class="icon-workshop">
                <p class="margin-top-1 icon-title">Tiro con Arco</p>
            </div>
        </div>
        <div class="row align-center">
            <div class="column large-2 medium-4 small-6 margin-vertical-1 text-center">
                <img src="{% static 'img/tenis.svg' %}" alt="" class="icon-workshop">
                <p class="margin-top-1 icon-title">Tenis</p>
            </div>
            <div class="column large-2 medium-4 small-6 margin-vertical-1 text-center">
                <img src="{% static 'img/atletic.svg' %}" alt="" class="icon-workshop">
                <p class="margin-top-1 icon-title">Atletismo</p>
            </div>
            <div class="column large-2 medium-4 small-6 margin-vertical-1 text-center">
                <img src="{% static 'img/archer.svg' %}" alt="" class="icon-workshop">
                <p class="margin-top-1 icon-title">Tiro con Arco</p>
            </div>
        </div>
    </section>
    <section>
        <div class="row small-up-1 margin-vertical-3">
            <div class="columns small-12">

                <div class="row">
                    <div class="column large-12 small-12 text-center">
                        <h3>Horario de los talleres</h3>
                    </div>
                </div>
                <style>
                .horario-title{
                    width: 100%;
                    background: red;
                }
                .horario-content{
                    width: 100%;
                    background: #1ed1bb;
                    height: 5rem;
                }
                </style>
                <div class="row">
                    <div class="column large-4 medium-4 small-12" style="color: white;">
                        <div style="height: 100%;"></div>
                        
                    </div>
                </div>
                <div class="row small-up-1 medium-up-2 large-up-3" style="height: 500px;">
                    <div class="columns text-center">
                        <p><b>Atletismo: </b><label for="">Viernes 08:00 - 10:00 hrs</label></p>
                        <p><b>Basketball: </b><label for="">Lunes/Miércoles 15:30 - 17:00 hrs</label></p>
                        <p><b>eSports: </b><label for="">Viernes 09:00 - 10:30 hrs</label></p>
                        <p><b>Futbol: </b><label for="">Lunes/Miércoles 14:00 - 16:00 hrs</label></p>
                    </div>
                    <div class="columns text-center">
                        <p><b>Handball: </b><label for="">Viernes 10:00 - 12:00 hrs</label></p>
                        <p><b>Tenis: </b><label for="">Lunes/Miércoles 13:00 - 15:00 hrs</label></p>
                        <p><b>Ping-Pong: </b><label for="">Viernes 09:00 - 11:00 hrs</label></p>
                    </div>
                    <div class="columns text-center">
                        <p><b>Tiro con arco: </b><label for="">Lunes Miércoles 12:00 - 14:00 hrs</label></p>
                        <p><b>Tochito: </b><label for="">Miércoles 15:00 - 17:00 hrs</label></p>
                        <p><b>Voleibol: </b><label for="">Martes/Jueves 15:00 - 17:00 hrs</label></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<br>
    <section class="margin-top-3" style="padding:2rem;" id="copa-autonomia">
        <div class="row margin-vertical-3 align-center" style="margin-bottom: 15rem !important; ">
            <div class="column large-12 small-12 text-center">
                <h3>Copa Autonomía</h3>
                <p>El propósito inicial de este taller es mejorar la calidad de vida de las personas con discapacidad a
                    través del deporte. Con este taller podemos conseguir conservar y mejorar la salud física y psíquica
                    de nuestros usuarios, mejorar la relación social, contribuir a que nuestros usuarios experimenten
                    capacidades aún no descubiertas, vivir la competitividad.</p>
            </div>
            <!-- Ubicación -->
            <div class="column large-4 medium-6 small-12 darkGreen">
                <div class="row margin-top-1">
                    <div class="column large-10">
                        <p>Ubicación</p>
                    </div>
                    <div class="column large-2"><i class="fas fa-map-marker-alt"></i></div>
                </div>
                <div class="row">
                    <div class="column large-12">
                        <h4>Av. de las Ciencias S/N
                            Juriquilla
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="column large-12">
                        <p>Querétaro, Qro.</p>
                    </div>
                </div>
            </div>
            <!-- Fecha -->
            <div class="column large-4 medium-6 small-12 lightGreen">
                <div class="row margin-top-1">
                    <div class="column large-10">
                        <p>Fecha</p>
                    </div>
                    <div class="column large-2"><i class="fas fa-map-marker-alt"></i></div>
                </div>
                <div class="row">
                    <div class="column large-12">
                        <h4>Av. de las Ciencias S/N
                            Juriquilla
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="column large-12">
                        <p>Querétaro, Qro.</p>
                    </div>
                </div>
            </div>
            <!-- Hora -->
            <div class="column large-4 medium-6 small-12 darkGreen">
                <div class="row margin-top-1">
                    <div class="column large-10">
                        <p>Hora</p>
                    </div>
                    <div class="column large-2"><i class="fas fa-map-marker-alt"></i></div>
                </div>
                <div class="row">
                    <div class="column large-12">
                        <h4>Av. de las Ciencias S/N
                            Juriquilla
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="column large-12">
                        <p>Querétaro, Qro.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section style="padding:2rem;" id="copa-valores">
        <div class="row margin-vertical-3 align-center" style="margin-bottom: 15rem !important;">
            <div class="column large-12 small-12 text-center">
                <h3>Copa Valores</h3>
                <p>El propósito inicial de este taller es mejorar la calidad de vida de las personas con discapacidad a
                    través del deporte. Con este taller podemos conseguir conservar y mejorar la salud física y psíquica
                    de nuestros usuarios, mejorar la relación social, contribuir a que nuestros usuarios experimenten
                    capacidades aún no descubiertas, vivir la competitividad.</p>
            </div>
            <!-- Ubicación -->
            <div class="column large-4 medium-6 small-12 darkGreen">
                <div class="row margin-top-1">
                    <div class="column large-10">
                        <p>Ubicación</p>
                    </div>
                    <div class="column large-2"><i class="fas fa-map-marker-alt"></i></div>
                </div>
                <div class="row">
                    <div class="column large-12">
                        <h4>Av. de las Ciencias S/N
                            Juriquilla
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="column large-12">
                        <p>Querétaro, Qro.</p>
                    </div>
                </div>
            </div>
            <!-- Fecha -->
            <div class="column large-4 medium-6 small-12 lightGreen">
                <div class="row margin-top-1">
                    <div class="column large-10">
                        <p>Fecha</p>
                    </div>
                    <div class="column large-2"><i class="fas fa-map-marker-alt"></i></div>
                </div>
                <div class="row">
                    <div class="column large-12">
                        <h4>Av. de las Ciencias S/N
                            Juriquilla
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="column large-12">
                        <p>Querétaro, Qro.</p>
                    </div>
                </div>
            </div>
            <!-- Hora -->
            <div class="column large-4 medium-6 small-12 darkGreen">
                <div class="row margin-top-1">
                    <div class="column large-10">
                        <p>Hora</p>
                    </div>
                    <div class="column large-2"><i class="fas fa-map-marker-alt"></i></div>
                </div>
                <div class="row">
                    <div class="column large-12">
                        <h4>Av. de las Ciencias S/N
                            Juriquilla
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="column large-12">
                        <p>Querétaro, Qro.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="padding:2rem;">
        <div class="row">
            <div class="column large-4 small-6">
                <h3>Ubicación</h3>
            </div>
        </div>
        <div class="row margin-vertical-3">
            <iframe class="column large-6 small-12"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7471.393568229663!2d-100.4179552761119!3d20.559583584308452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d3456cfa15993b%3A0x191095e906525da7!2sUnidad%20Deportiva%20Universidad%20Aut%C3%B3noma%20de%20Quer%C3%A9taro!5e0!3m2!1ses!2smx!4v1575320566628!5m2!1ses!2smx"
                min-width="300" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            <div class="column large-4 small-12">
                <p style="font-weight: 500; margin-top: 2rem;">Unidad Deportiva Universidad Autónoma de Querétaro</p>
                <p>Carretera a Celaya Km. 3, Corregidora 5, Emiliano Zapata, 76900 El Pueblito, Qro.</p>
            </div>
        </div>
    </section>
    <section class="darkGreen" style="padding:2rem;">
        <div class="row margin-top-1">
            <div class="column large-2 small-12">

            </div>
        </div>

        <div class="row margin-top-1 align-center">
            <div class="column large-2 small-12 align-center text-center">
                <img src="{% static 'img/uaqFIF.png' %}" alt="">
            </div>
            <div class="column large-10 small-12 text-right">

            </div>
        </div>

        <div class="row">
            <div class="column large-4 small-12">
                <p style="font-weight: 500;">Deportiuaq</p>
                <p style="font-size: .7rem;">Av. De las Ciencias S/N, Juriquilla. Querétaro, Qro.</p>
                <p style="font-size: .7rem;"><i class="fas fa-phone-alt"></i>&nbsp Tel. 2101616 Ext. 4042</p>
            </div>
            <div class="column large-8 small-12 text-right">
                <p style="font-size: .9rem; font-weight: 500;">Coordinación de deporte</p>
                <p style="font-size: .7rem;"><i class="fas fa-phone-alt"></i>&nbsp Tel. 2101616 Ext. 3476</p>
            </div>
        </div>
    </section>
    <section style="background: #2d2d2d; color: white;">
        <div class="row align-center text-center">
            <div class="column margin-top-1">
                <p style="font-size: .7rem;"> <i class="fas fa-info-circle"></i>&nbsp Ingeniería de Software - 2019-2
                    &nbsp <b id="aviso">• &nbsp Aviso de privacidad</b></p>
            </div>
        </div>
    </section>
    <div class="modal-aviso" id="modal-aviso" style="margin-top: 20px !important; overflow-y: scroll;">
        <div class="row">
            <div class="column large-12 small-12 text-center">
                <h2>Aviso de privacidad</h2>
            </div>
            <div class="column large-12 small-12">
                <h4>¿Quiénes somos?</h4>
                <p>
                    DeportiUAQ, mejor conocido como DeportiUAQ, con domicilio en calle Av. de las Ciencias S/N, colonia
                    Rancho Largo, ciudad Querétaro, municipio o delegación Querétaro, c.p. 76230, en la entidad de
                    Querétaro, país México, y portal de internet https://www.facebook.com/fifuaq/, es el responsable del
                    uso y protección de sus datos personales, y al respecto le informamos lo siguiente:
                </p>
                <h4>¿Para qué fines utilizaremos sus datos personales?</h4>
                <p>Los datos personales que recabamos de usted, los utilizaremos para las siguientes finalidades que son
                    necesarias para el servicio que solicita:
                    <br>
                    • Para verificar y confirmar su identidad <br>
                    • Para el análisis y actualización de información de los alumnos <br>
                    • Para proveer los servicios y productos que ofrecemos, así como actividades afines <br>
                </p>
                <h4>¿Dónde puedo consultar el aviso de privacidad integral?</h4>
                <p>Para conocer mayor información sobre los términos y condiciones en que serán tratados sus datos
                    personales, como los terceros con quienes compartimos su información personal y la forma en que
                    podrá ejercer sus derechos ARCO, puede consultar el aviso de privacidad integral en:

                    Vínculo electrónico
                </p>
            </div>
            <div class="column large-12 small-12 text-center align-center">
                <p class="textGreen"><i class="fas fa-arrow-left"></i>&nbsp Regresar</p>
            </div>
        </div>
    </div>

    <script>
        var hamburger = document.querySelector(".hamburger");
        hamburger.addEventListener("click", function () {
            hamburger.classList.toggle("is-active");
            var e = document.getElementById("menu-resp");
            e.classList.toggle("show-menu");
        });

        document.getElementById("aviso").addEventListener("click", () => {
            var e = document.getElementById("modal-aviso");
            e.classList.toggle("show-menu");
        });


    </script>
</body>

</html>