{% extends 'base.html' %}

{% block title %}
Registrar Miembro Taller
{% endblock %}

{% block content %}

<form method='POST'>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Enviar">
    
</form>
    <!--  Mensajes  -->
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    <!-- Errores  -->
    {% if form.errors %}
        {% for error in form.errors %}
            {{ error }}
        {% endfor %}
    {% endif %}


{% endblock %}