{% extends 'base.html' %}

{% block title %}
Ver taller
{% endblock %}

{% block content %}
<div class="flex-container column-container">
    <div class="base-container flex-container workshop-edit">
            <div class="workshop-icon-edit flex-container center-content">
                <i class="fas fa-bullseye"></i>
            </div>
            <div class="workshop-edit-info flex-container">
                <div class="workshop-edit-part1 flex-container ">
                    
                    <div class="workshop-edit-part2 flex-container column-container">
                        <div class="workshop-edit-title flex-container">
                            {{ taller.sport }} 
                        </div>
                        <div class="workshop-column flex-container form-edit">
                            <label for="">Rama:</label> 
                            <input type="text" name="" value="{{ taller.branch }}" disabled>
                        </div>
                        <div class="workshop-column flex-container form-edit">
                            <label for="">Horario:</label> 
                            <input type="text" name=""  value="{{ taller.schedule }}" disabled>
                        </div>
                        <div class="workshop-column flex-container form-edit">
                            <label for="">Cupo máximo:</label> 
                            <input type="text" name="" value="{{ taller.maxMembers }}" disabled>
                        </div>
                    </div>
                    <div class="workshop-edit-part2 flex-container column-container form-edit" style="width: 45%;">
                        <div class="workshop-edit-title flex-container">
                        </div>
                        <div class="workshop-column flex-container form-edit"    style="padding: 0rem !important;">
                            <label for="">Responsable:</label> 
                            <input type="text" name="" style="width: auto;" value="{{ taller.responsible }}" disabled>
                        </div>
                    </div>
                    <div class="workshop-edit-part3 flex-container center-content column-container">
                        
                            <h2>Acciones:</h2>
                            {% if user.userType == 'DC' %}
                            <input type="button" class="dark-green greenHover" id="btn-edit" value="Editar taller">
                            {% endif %}
                            {% if user.userType == 'AD' %}
                                <input type="button" class="light-red redHover" id="btn-workshop-delete" value="Eliminar taller" onclick="abrirDeleteWsModal()">
                            {% endif %}
                    </div>
                </div>
            </div>          
    </div>
</div>
<div class="container-workshop-options flex-container">
    <div class="container-workshop-list flex-container">
        <div class="workshop-section flex-container p-1rem">
            <div class="workshop-list flex-container column-container width-100">
                <div class="flex-container width-100 m-botton-20">
                    <div class="width-50 flex-container">
                        <h2 style="font-weight: 500;">Alumnos inscritos:</h2>
                    </div>
                    <div class="width-50 flex-container right-content">
                        {% if user.userType == 'DC' or user.userType == 'BC' %}
                        <button class="btn-option dark-green" id="addmember">Agregar alumno</button>
                        {% endif %}
                    </div>
                </div>
                <style>
                
                </style>
                    <div style="overflow-y: scroll;">
                        <table style="text-align: center;">
                            <thead>
                                <tr>
                                    <th>Expediente</th>
                                    <th>Nombre</th>
                                    <th>Correo</th>
                                    <th>Absuelto</th>
                                    {% if user.userType == 'DC'%}
                                        <th>Acciones</th>
                                    {% endif %}
                                </tr>
                            </thead>
                        {% for miembro in miembros %}
                            <tbody>
                                <tr>
                                    <td style="border:hidden;">{{ miembro.expediente }}</td>
                                    <td>{{ miembro.first_name }} {{ miembro.last_name }}</td>
                                    <td>{{ miembro.mail }}</td>
                                    <td>{% if miembro.absolved %} Si {% else %} No {% endif %}</td>
                                    {% if user.userType == 'DC'%}
                                        <td><Button class="btn-trash" onclick="modalJuan({{ miembro.expediente }})"><i class="fas fa-trash-alt"></i></Button></td>
                                    {% endif %}
                                </tr>
                            </tbody>
                        {% endfor %}
                            </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
    
<!-- MODAL REGISTRAR -->
<div class="modal-background flex-container" id="modal-addmember">
    <div class="modal-content flex-container p-top2">
            <h2>Editar taller</h2>
        <form action="{% url 'registrarAlumnoT' %}" class="form-group-modal center-content" method='POST'>
            {% csrf_token %}
            {{ addMemberForm.as_p }}
            <input type="hidden" name="next" value="{{ request.path }}">
            <input type="submit" value="Registrar" class="dark-green" id="modal-btn1">
        </form>

        <button id="closeadd">Cancelar</button>
    </div>
</div>

<!-- MODAL MODIFICAR TALLER -->
<div class="modal-background flex-container" id="modal-workshop">
    <div class="modal-content flex-container p-top2">
            <h2>Editar taller</h2>
        <form action="{% url 'actualizarTaller' taller.id%}" class="form-group" method="POST">
            {% csrf_token %}
            {{ updateForm.as_p }}
            <input type="submit" value="Editar" class="dark-green" id="modal-btn1">
        </form>
        <button id="modal-btn2" onclick="cancelEditWs()">Cancelar</button>
    </div>
</div>
<!-- MODAL ELIMINAR ALUMNO -->
<div class="modal-background flex-container" id="alert-delete">
    <div class="modal-content flex-container">
        <div class="alert-title flex-container">
            <div class="alert-icon flex-container m-bottom-1"><i class="fas fa-exclamation-triangle"></i></div>
            <p class="m-bottom-1">Advertencia!</p>
        </div>
        <div class="alert-content flex-container m-top-1 form-group">
            <p>El alumno se eliminará de forma permanente.</p>
            {% csrf_token %}
            <input type="number" name="expediente" id="expediente" hidden>
       
            <label class="m-top-1" for="">Ingrese su contraseña para confirmar:</label>
            <input type="password" class="m-bottom-1 white" name="password" id="password" required>
        </div>
        <div class="alert-button flex-container m-top-1">
            <button class="btn-option-cancel" id="alert-cancel-delete" onclick="cancelDeleteAlumno()">Cancelar</button>
            <button class="btn-option light-green greenHover" onclick="eliminarAlumno()">Continuar</button>
            
        </div>
        <div>

        </div>
    </div>
</div>

<!-- MODAL ELIMINAR WORKSHOP -->
<div class="modal-background flex-container" id="workshop-delete">
        <div class="modal-content flex-container">
            <div class="alert-title flex-container">
                <div class="alert-icon flex-container m-bottom-1"><i class="fas fa-exclamation-triangle"></i></div>
                <p class="m-bottom-1">Advertencia!</p>
            </div>
            <div class="alert-content flex-container m-top-1 form-group">
                <p>Se eliminará de forma permanente.</p>
                {% csrf_token %}
                <input type="number" name="expediente" id="expediente" hidden>
           
                <label class="m-top-1" for="">Ingrese su contraseña para confirmar:</label>
                <input type="password" class="m-bottom-1 white" name="password" id="password_user" required>
            </div>
            <div class="alert-button flex-container m-top-1">
                <button class="btn-option-cancel" id="cancel-delete" onclick="cancelDeleteWs()">Cancelar</button>
                <button class="btn-option light-green greenHover" onclick="eliminarTaller()">Continuar</button>
                
            </div>
            <div>
    
            </div>
        </div>
    </div>

<script defer>
    // MODAL EDITAR TALLER
    {% if user.userType == 'DC' %}
    document.getElementById("btn-edit").addEventListener("click",()=>{
    let modal1 = document.getElementById("modal-workshop").style.display="flex";
    });
    {% endif %}
    // CERRAR MODAL DE EDITAR TALLER
    // document.getElementById("modal-btn2").addEventListener("click",()=>{
    function cancelEditWs(){
    var modal = document.getElementById("modal-workshop").style.display="none";
    };

    // MODAL AGREGAR ALUMNO
    document.getElementById("addmember").addEventListener("click",()=>{
    let modal1 = document.getElementById("modal-addmember").style.display="flex";
    });

    // CERRAR MODAL DE EDITAR TALLER
    document.getElementById("closeadd").addEventListener("click",()=>{
    var modal = document.getElementById("modal-addmember").style.display="none";
    });

    // CERRAR MODAL DE ELIMINAR ALUMNO DE TALLER
    document.getElementById("alert-cancel-delete").addEventListener("click",()=>{
    var modal = document.getElementById("alert-delete").style.display="none";
    });

    //MODAL ELIMINAR TALLER
    // document.getElementById('cancel-delete').addEventListener("click",()=>{
    function cancelDeleteWs(){
        var modal = document.getElementById("workshop-delete").style.display="none";
    };
    //MODAL  ELIMINAR TALLER
    // document.getElementById('btn-workshop-delete').addEventListener("click",()=>{
    function abrirDeleteWsModal(){
        console.log("Hola")
        var modal = document.getElementById("workshop-delete").style.display="flex";
    };

    function modalJuan(expediente){
        var modal = document.getElementById("alert-delete").style.display="flex";
        document.getElementById("expediente").value = expediente;
    }

    function eliminarTaller(){
        var xhttp;
        var csrftoken = '{{ csrf_token }}';
        var password = document.getElementById("password_user").value;
        var workshop_id = '{{ taller.id }}';
        console.log(password)
        console.log(workshop_id)
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                console.log(this.responseText);
                respuesta=JSON.parse(this.responseText);
                switch (respuesta.status) {
                    case 0:
                        document.getElementById("workshop-delete").style.display="none";
                        document.getElementById("password").value = "";
                        // alert(respuesta.msg)
                        launch_toast(respuesta.msg, respuesta.status);
                        break;
                    case 1:
                        // alert("hechoooo")
                        location.reload();
                        break;
                    default:
                        break;
                }
            }
        };
        xhttp.open("POST", "{% url 'eliminarTaller' %}", true);
        xhttp.setRequestHeader("X-CSRFToken", csrftoken);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send('password='+password+'&workshop_id='+workshop_id);
        
    }   

    function eliminarAlumno(){
        var xhttp;
        var csrftoken = '{{ csrf_token }}';
        var idWs = '{{ taller.id }}';
        var password = document.getElementById("password").value;
        var expediente = document.getElementById("expediente").value;
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            var retroalimentacion = document.getElementById("retroalimentacion");
            if (this.readyState == 4 && this.status == 200) {
                respuesta=JSON.parse(this.responseText);
                console.log(this.responseText);
                
                switch (respuesta.status) {
                    case 0:
                        // alert(respuesta.msg);
                        launch_toast(respuesta.msg, respuesta.status);
                        break;
                    case 1:
                        location.reload();
                        break;
                    default:
                        break;
                }
            }
        };
        xhttp.open("POST", "{% url 'eliminarAlumnoT' %}", true);
        xhttp.setRequestHeader("X-CSRFToken", csrftoken);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        
        xhttp.send('password='+password+'&expediente='+expediente+'&idWs='+idWs);
    }
</script>
{% endblock %}
