{% extends 'base.html' %}

{% block title %}
Pasar lista
{% endblock %}

{% block content %}
{% for equipo in equipos %}
            <div class="workshop-container flex-container">
                <div class="workshop-icon flex-container center-content">
                    <i class="fas fa-bullseye"></i>
                </div>
                <div class="workshop-content flex-container">
                    <div class="workshop-title flex-container">
                        {{ equipo.sport }}
                    </div>
                    <div class="workshop-inscribed flex-container">
                        Inscritos: {{ equipo.totalMembers }}
                    </div>
                    <div class="workshop-teacher flex-container">
                        Docente: {{ equipo.responsible }}
                    </div>
                    <div class="workshop-options flex-container">
                        <div class="workshop-option flex-container" onclick="location.href='{% url 'callTheRollWs' equipo.id %}'">
                            Pasar lista
                        </div>
                        
                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock %}