{% extends 'base.html' %}

{% block title %}
Talleres Deportivos
{% endblock %}

{% block content %}
<div class="base-container flex-container workshop-space">
        {% for taller in talleres %}
            <div class="workshop-container flex-container">
                <div class="workshop-icon flex-container center-content">
                    <i class="fas fa-bullseye"></i>
                </div>
                <div class="workshop-content flex-container">
                    <div class="workshop-title flex-container">
                        {{ taller.sport }}
                    </div>
                    <div class="workshop-inscribed flex-container">
                        Inscritos: {{ taller.totalMembers }}
                    </div>
                    <div class="workshop-teacher flex-container">
                        Docente: {{ taller.responsible }}
                    </div>
                    <div class="workshop-options flex-container">
                        <div class="workshop-option flex-container" onclick="location.href='{% url 'verTaller' taller.id %}'">
                            Editar taller
                        </div>
                        {% if user.userType == 'DC' %}
                        <div class="workshop-option flex-container" onclick="location.href='{% url 'liberaciones' taller.id %}'">
                            Liberaciones
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        
        {% endfor %}
<script>
// function eliminarTaller(idTaller){
//     var xhttp = new XMLHttpRequest();
//     xhttp.onreadystatechange = function() {
//         if (this.readyState == 4 && this.status == 200) {
//         document.getElementById("demo").innerHTML = this.responseText;
//         }
//     };
//     xhttp.open("GET", "{% url 'eliminarTaller' %}", true);
//     xhttp.send();
// }


</script>


</div>
{% endblock %}