{% extends 'base.html' %}

{% block title %}
Talleres Deportivos
{% endblock %}

{% block content %}
<div class="base-container flex-container workshop-space">
    <style>
    .workshop-space{
        justify-content: space-evenly;
        align-items: flex-end;
        flex-flow: row wrap;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 1rem;
        box-sizing: border-box;
        overflow-y: scroll;
    }
    .workshop-container{
        height: 9.5rem;
        width: 449px;
        background: #fff;
        border-radius: 10px;
        margin-top: 1rem;
    }
    .workshop-icon{
        height: 100%;
        width: 35%;
        border-radius: 10px 0px 0px 10px;
        background: var(--dark-green);
        font-size: 5.5rem;
        color: white;
    }
    .workshop-content{
        height: 100%;
        width: 65%;
        flex-flow: column;
    }
    .workshop-title{
        height: 30%;
        width: 100%;
        align-items: flex-end;
        font-size: 1.1rem;
        padding-left: 1rem;
        box-sizing: border-box;
    }
    .workshop-inscribed{
        height: 20%;
        width: 100%;
        align-items: flex-end;
        font-size: .8rem;
        padding-left: 1rem;
        box-sizing: border-box;
    }
    .workshop-teacher{
        height: 20%;
        width: 100%;
        align-items: flex-end;
        font-size: .9rem;
        padding-left: 1rem;
        box-sizing: border-box;
    }
    .workshop-options{
        height: 30%;
        width: 100%;
        padding-top: 0.7rem;
        /* padding-bottom: .1rem; */
        /* padding-right: .4rem; */
        justify-content: flex-end;
        box-sizing: border-box;
    }
    .workshop-option{
        height: 80%;
        width: 40%;
        border-radius: 5px;
        background: var(--dark-green);
        color: white;
        font-size: .8rem;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        margin-right: .4rem;
        cursor: pointer;
    }
    .workshop-option:hover{
        background: var(--light-green);
    }
    </style>
        {% for taller in talleres %}
            <div class="workshop-container flex-container">
                <div class="workshop-icon flex-container center-content">
                    <i class="fas fa-bullseye"></i>
                </div>
                <div class="workshop-content flex-container">
                    <div class="workshop-title flex-container">
                        {{ taller.sport }}
                    </div>
                    <div class="workshop-inscribed flex-container">
                        Inscritos: {{ taller.maxMembers }}
                    </div>
                    <div class="workshop-teacher flex-container">
                        Docente: {{ taller.responsible }}
                    </div>
                    <div class="workshop-options flex-container">
                        <div class="workshop-option flex-container" onclick="location.href='{% url 'verTaller' taller.id %}'">
                            Editar taller
                        </div>
                        <div class="workshop-option flex-container" onclick="location.href='{% url 'verAlumnosTaller' taller.id %}'">
                            Ver integrantes
                        </div>
                    </div>
                </div>
            </div>
        <!-- <tr>
            <td>
                    <a href="{% url 'verTaller' taller.id %}">{{ taller.sport }} {{ taller.branch }}</a>
            </td>
            <td>
                <a href="{% url 'verTaller' taller.id %}">Editar taller</a>
                <button><a href="{% url 'verAlumnosTaller' taller.id %}">Ver integrantes</a></button>
            </td>
            
        </tr> -->
        {% endfor %}
<script>
// function eliminarTaller(idTaller){
//     var xhttp = new XMLHttpRequest();
//     xhttp.onreadystatechange = function() {
//         if (this.readyState == 4 && this.status == 200) {
//         document.getElementById("demo").innerHTML = this.responseText;
//         }
//     };
//     xhttp.open("GET", "{% url 'eliminarTaller' %}", true);
//     xhttp.send();
// }


</script>


</div>
{% endblock %}