{% extends 'base.html' %} 

{% block title %}
Ver alumnos
{% endblock %}

{% block content %}
    {{ taller.sport }}
    Integrantes
    <br>
    Ordenar por <select name="" id=""><option value="">Selecciona una opción</option></select>
    <button><a href="{% url 'verTaller' taller.id %}">Editar Taller</a></button>
    <section style="background-color:bisque">
            <table>
                <tr>
                    <th>Expediente</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Asistencias</th>
                    <th>Absuelto</th>
                    
                </tr>
                {% for miembro in miembros %}
                <tr>
                    <td>{{ miembro.expediente }}</td>
                    <td>{{ miembro.first_name }} {{ miembro.last_name }}</td>
                    <td>{{ miembro.mail }}</td>
                    <td>{{ miembro.totalAssists }}</td>
                    <td>{% if miembro.absolved %} Si {% else %} No {% endif %}</td>
                </tr>
                {% endfor %}
            </table>
    

{% endblock%}