{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/hamburgers.min.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
      integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
      crossorigin="anonymous"></script>
    <script defer src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'js/toast.js' %}"></script>
</head>
<body>
    <!-- Optional comment -->
    <!-- <div id="toast"><div id="imgToast"><i class="fas fa-check"></i></div><div id="desc"></div></div> -->
    <div id="toast"><div id="imgToast"></div><div id="desc"></div></div>
    <div class="absolute-container flex-container light-grey">
        <div class="left-container flex-container column-container">
            <div class="top-container flex-container center-content">
                <h1>Deportes</h1>
            </div>
            <div class="info-title flex-container title-menu bg-white">
                <p>MENU</p>
            </div>
            <div class="menu-container" id="menu-container">
            <!-- MENUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUU -->
            <!-- INICIO -->
            
            <button class="option-content '{% if request.path == "/home/" %} option-active {% endif %}'" onclick="location.href='{% url 'home' %}'"><i class="fas fa-home"></i><span>Inicio</span></button>
            {% if user.userType == 'BC' %}
            <button class="option-content '{% if request.path == "/workshop/" and request.path|slice:"-6:-1" != "Lista" %} option-active {% endif %}'" onclick="location.href='{% url 'talleres' %}'"><i class="fas fa-clipboard-list"></i><span>Talleres</span></button>
            <button class="option-content '{% if request.path|slice:":6" == "/team/" %} option-active {% endif %}'" onclick="location.href='{% url 'equipos' %}'"><i class="fas fa-clipboard-list"></i><span>Equipos</span></button>
            {% endif %}

            <!-- TALLERES -->
            {% if user.userType == 'DC' %}
                <button class="option-content '{% if request.path|slice:":10" == "/workshop/" and request.path|slice:"-6:-1" != "Lista" %} option-active {% endif %}'" onclick="location.href='{% url 'talleres' %}'"><i class="fas fa-clipboard-list"></i><span>Talleres</span></button>
                <button class="option-content '{% if request.path|slice:":6" == "/team/" and request.path|slice:"-6:-1" != "Lista" and request.path|slice:"-6:-1" != "rtido"%} option-active {% endif %}'" onclick="location.href='{% url 'equipos' %}'"><i class="fas fa-clipboard-list"></i><span>Equipos</span></button>
                <button class="option option-content '{% if request.path|slice:"-6:-1" == "Lista" %} option-active {% endif %}'"><i class="fas fa-clipboard-check"></i><span>Pasar Lista</span></button>
                <div class="option-list">
                    <a class="option-menu option-content" href="{% url 'seleccionarTallerPaseDeLista' %}"><i class="fas fa-clipboard-check"></i><span>Taller</span></a>
                    <a class="option-menu option-content" href="{% url 'seleccionarEquipoPaseDeLista' %}"><i class="fas fa-clipboard-check"></i><span>Equipo</span></a>
                </div>
                <!-- BECARIOS -->
                <button class="option-content '{% if request.path == "/team/registrarPartido/" %} option-active {% endif %}'" onclick="location.href='{% url 'registrarPartido' %}'"><i class="fas fa-user"></i><span>Registrar Partido</span></button>
                <button class="option-content '{% if request.path == "/admin/registrarBecario/" %} option-active {% endif %}'" onclick="location.href='{% url 'registrarBecario' %}'"><i class="fas fa-user"></i><span>Registrar Becario</span></button>
                {% endif %}
            {% if user.userType == 'AD' %}
                <!-- DOCENTES -->
                <button class="option option-content '{% if request.path|slice:":10" == "/workshop/" %} option-active {% endif %}'"><i class="fas fa-th"></i><span>Talleres</span></button>
                <div class="option-list">
                    <a class="option-menu option-content" href="{% url 'crearTaller' %}"><i class="fas fa-plus-square"></i><span>Registrar</span></a>
                    <a class="option-menu option-content" href="{% url 'talleres' %}"><i class="fas fa-eye"></i><span>Ver Talleres</span></a>
                </div>

                <button class="option option-content '{% if request.path|slice:":6" == "/team/" %} option-active {% endif %}'"><i class="fas fa-users"></i><span>Equipos</span></button>
                <div class="option-list">
                    <a class="option-menu option-content" href="{% url 'crearEquipo' %}"><i class="fas fa-plus-square"></i><span>Registrar</span></a>
                    <a class="option-menu option-content" href="{% url 'equipos' %}"><i class="fas fa-eye"></i><span>Ver Equipos</span></a>
                </div>

                <button class="option-content '{% if request.path == "/admin/registrarAdmin/" %} option-active {% endif %}'" onclick="location.href='{% url 'registrarAdmin' %}'"><i class="fas fa-user-tie"></i><span>Registrar Administrador</span></button>
                <button class="option-content '{% if request.path == "/admin/registrarDocente/" %} option-active {% endif %}'" onclick="location.href='{% url 'registrarDocente' %}'"><i class="fas fa-user-tie"></i><span>Registrar Docente</span></button>
                <!-- RESETEAR CONSTRASEÑA -->
                <button class="option-content '{% if request.path == "/admin/resetPassword/" %} option-active {% endif %}'" onclick="location.href='{% url 'resetPassword' %}'"><i class="fas fa-lock-open"></i><span>Restablecer una contraseña</span></button>
            {% endif %}
                {% if user.userType == 'DC' or user.userType == 'AD' %}
                <button class="option option-content '{% if request.path|slice:":15" == "/admin/eliminar" %} option-active {% endif %}'"><i class="fas fa-user-times"></i><span>Eliminar usuario</span></button>
                <div class="option-list">
                    {% if user.userType == 'DC' or user.userType == 'AD' %}<a class="option-menu option-content" href="{% url 'eliminarBecario' %}"><i class="fas fa-trash"></i><span>Becario</span></a>{% endif %}
                    {% if user.userType == 'AD' %}
                    <a class="option-menu option-content" href="{% url 'eliminarDocente' %}"><i class="fas fa-trash"></i><span>Docente</span></a>
                    <a class="option-menu option-content" href="{% url 'eliminarAdmin' %}"><i class="fas fa-trash"></i><span>Administrador</span></a>
                    {% endif %}
                </div>
            {% endif %}
            <!-- CAMBIAR CONSTRASEÑA -->
            <button class="option-content '{% if request.path == "/changePassword/" %} option-active {% endif %}'" onclick="location.href='{% url 'changePassword' %}'"><i class="fas fa-key"></i><span>Mi Contraseña</span></button>
            <!-- MENUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUU -->
            </div>
        </div>
        <div class="right-container flex-container column-container">
            <div class="top-container flex-container top-bar">
                <p id="link-logout" onclick="location.href='{% url 'logout' %}'">Cerrar Sesión</p>
                
                <div class="hamburger hamburger--spring" id="hamburger">
                    <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                    </div>
                </div>

            </div>
            <div class="info-title flex-container title-menu">
                <p>Panel de Administración</p>
            </div>
            <div class="body-container flex-container column-container">
                <div class="body-content flex-container column-container">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <!-- MENU RESPONSIVO -->
    <div class="menu-resp text-center" id="menu-resp">
        <!-- MENUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUU -->
            <!-- INICIO -->
            <button class="option-content" onclick="location.href='{% url 'home' %}'"><i class="fas fa-home"></i><span>Inicio</span></button>
            
            <!-- TALLERES -->
            
            {% if user.userType == 'DC' %}
                <button class="option-content" onclick="location.href='{% url 'talleres' %}'"><i class="fas fa-clipboard-list"></i><span>Talleres</span></button>
                <button class="option-content" onclick="location.href='{% url 'equipos' %}'"><i class="fas fa-clipboard-list"></i><span>Equipos</span></button>
                <!-- BECARIOS -->
                <button class="option-content" onclick="location.href='{% url 'registrarBecario' %}'"><i class="fas fa-user"></i><span>Registrar Becario</span></button>

                <button class="option option-content"><i class="fas fa-clipboard-check"></i><span>Pasar Lista</span></button>
                <div class="option-list">
                    <a class="option-menu option-content" href="{% url 'seleccionarTallerPaseDeLista' %}"><i class="fas fa-clipboard-check"></i><span>Taller</span></a>
                    <a class="option-menu option-content" href="{% url 'seleccionarEquipoPaseDeLista' %}"><i class="fas fa-clipboard-check"></i><span>Equipo</span></a>
                </div>
                <button class="option-content" onclick="location.href='{% url 'registrarPartido' %}'"><i class="fas fa-user"></i><span>Registrar Partido</span></button>
            {% endif %}
            {% if user.userType == 'AD' %}
                <!-- DOCENTES -->
                <button class="option option-content"><i class="fas fa-th"></i><span>Talleres</span></button>
                <div class="option-list">
                    <a class="option-menu option-content" href="{% url 'crearTaller' %}"><i class="fas fa-plus-square"></i><span>Registrar</span></a>
                    <a class="option-menu option-content" href="{% url 'talleres' %}"><i class="fas fa-eye"></i><span>Ver Talleres</span></a>
                </div>

                <button class="option option-content"><i class="fas fa-users"></i><span>Equipos</span></button>
                <div class="option-list">
                    <a class="option-menu option-content" href="{% url 'crearEquipo' %}"><i class="fas fa-plus-square"></i><span>Registrar</span></a>
                    <a class="option-menu option-content" href="{% url 'equipos' %}"><i class="fas fa-eye"></i><span>Ver Equipos</span></a>
                </div>

                <button class="option-content" onclick="location.href='{% url 'registrarAdmin' %}'"><i class="fas fa-user-tie"></i><span>Registrar Administrador</span></button>
                <button class="option-content" onclick="location.href='{% url 'registrarDocente' %}'"><i class="fas fa-user-tie"></i><span>Registrar Docente</span></button>
                <!-- RESETEAR CONSTRASEÑA -->
                <button class="option-content" onclick="location.href='{% url 'resetPassword' %}'"><i class="fas fa-lock-open"></i><span>Restablecer una contraseña</span></button>
            {% endif %}
            {% if user.userType == 'DC' or user.userType == 'AD' %}
                <button class="option option-content"><i class="fas fa-user-times"></i><span>Eliminar usuario</span></button>
                <div class="option-list">
                    {% if user.userType == 'DC' or user.userType == 'AD' %}<a class="option-menu option-content" href="{% url 'eliminarBecario' %}"><i class="fas fa-trash"></i><span>Becario</span></a>{% endif %}
                    {% if user.userType == 'AD' %}
                    <a class="option-menu option-content" href="{% url 'eliminarDocente' %}"><i class="fas fa-trash"></i><span>Docente</span></a>
                    <a class="option-menu option-content" href="{% url 'eliminarAdmin' %}"><i class="fas fa-trash"></i><span>Administrador</span></a>
                    {% endif %}
                </div>
            {% endif %}

            <!-- CAMBIAR CONSTRASEÑA -->
            <button class="option-content" onclick="location.href='{% url 'changePassword' %}'"><i class="fas fa-key"></i><span>Mi Contraseña</span></button>
            <button class="option-content" onclick="location.href='{% url 'logout' %}'"><i class="fas fa-sign-out-alt"></i><span>Cerrar Sesión</span></button>
    </div>

    {% if messages %}
        {% for message in messages %}
        
        {% if message.tags == "success" %}
            <script>
                launch_toast("{{ message }}");
            </script>
            {% endif %}
            {% if message.tags == "error" %}
            <script>
                launch_toast("{{ message }}");
            </script>
            {% endif %}
        {% endfor %}
    {% endif %}
    
    {% if form.errors %}
        {% for error in form.errors %}
        {{ error }}
        {% endfor %}
    {% endif %}
    
</body>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == "success" %}
        <script>
            launch_toast("{{ message }}", 1);
        </script>
        {% endif %}
        {% if message.tags == "error" %}
        <script>
            launch_toast("{{ message }}" , 2);
        </script>
        {% endif %}
    {% endfor %}
{% endif %}
    <script>
            var hamburger = document.querySelector(".hamburger");
                hamburger.addEventListener("click", function() {
                    hamburger.classList.toggle("is-active");
                    var e = document.getElementById("menu-resp");
                    e.classList.toggle("show-menu");
                });

                //  Option active
                var header = document.getElementById("menu-container");
                var btns = header.getElementsByClassName("option-content");
                for (var i = 0; i < btns.length; i++) {
                btns[i].addEventListener("click", function() {
                var current = document.getElementsByClassName("option-active");
                if (current.length > 0) { 
                    current[0].className = current[0].className.replace(" option-active", "");
                }
                this.className += " option-active";
                });
                }
    </script>
</html>