{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
      integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
      crossorigin="anonymous"></script>
</head>
<body>
    <div class="absolute-container flex-container light-grey">
        <div class="left-container flex-container column-container">
            <div class="top-container flex-container center-content">
                <h1>Deportes</h1>
            </div>
            <div class="info-title flex-container title-menu bg-white">
                <p>MENU</p>
            </div>
            <div class="option-container flex-container">

                <div class="light-option option-active"></div>
                <div class="option-content flex-container option-active" onclick="location.href='{% url 'home' %}'">
                    <p><i class="fas fa-bars"></i><span>Inicio</span></p>
                </div>
            </div>

            <div class="option-container flex-container">
                <div class="light-option"></div>
                <div class="option-content flex-container">
                    <p><i class="fas fa-list">x</i><span>Opción 1</span></p>
                </div>
            </div>
            
            <div class="option-container flex-container">
                <div class="light-option"></div>
                <div class="option-content flex-container">
                    <p><i class="fas fa-list">x</i><span>Opción 2</span></p>
                </div>
            </div>

            <div class="option-container flex-container" onclick="location.href='{% url 'registrarBecario' %}'">
                <div class="light-option"></div>
                <div class="option-content flex-container">
                    <p><i class="fas fa-user"></i><span>Registrar Becario</span></p>
                </div>
            </div>

            {% if user.userType == 'AD' %}
            <div class="option-container flex-container" onclick="location.href='{% url 'registrarDocente' %}'">
                <div class="light-option"></div>
                <div class="option-content flex-container">
                    <p><i class="fas fa-user-tie"></i><span>Registrar Docente</span></p>                          
                </div>
            </div>
            
            <div class="option-container flex-container" onclick="location.href='{% url 'resetPassword' %}'">
                <div class="light-option"></div>
                <div class="option-content flex-container">
                    <p><i class="fas fa-lock-open"></i><span>Restablecer contraseña</span></p>
                </div>
            </div>
            {% endif %}

            <div class="option-container flex-container" onclick="location.href='{% url 'changePassword' %}'">
                <div class="light-option"></div>
                <div class="option-content flex-container">
                    <p><i class="fas fa-key"></i><span>Contraseña</span></p>
                </div>
            </div>
        </div>
        <div class="right-container flex-container column-container">
            <div class="top-container flex-container top-bar">
                <p id="link-logout" onclick="location.href='{% url 'logout' %}'">Cerrar Sesión</p>
            </div>
            <div class="info-title flex-container title-menu">
                <p>Panel de Administración</p>
            </div>
            <div class="body-container flex-container column-container">
                <div class="body-content flex-container column-container">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>