{% extends 'base.html' %}

{% block title %}
Restablecer contraseña
{% endblock %}

{% block location %}
    Reestablecer contraseña
{% endblock %}

{% block content %}
<style>
.form-container{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: var(--white);
}
</style>
<div class="base-container flex-container center-content">
    <div class="form-container flex-container column-container center-content">
        <h1>Restablecer contraseña</h1>
            <form method="POST" class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Aceptar">
            
                {% if messages %}
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                {% endif %}
            </form>
        </div>
</div>
{% endblock %}